# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

model_epochs/

modelData_1.csv

model_results.txt

modelinput.csv

# Ignore virtual environment
venv/